body {
	min-width: 1200px;
	margin: 0;

	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	
	background-color: #fff;
}

/***********************************Общие стили***********************************/

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	
	font: inherit;
	text-transform: uppercase;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	
	background-color: #fb565a;
	border-radius: 5px;
}

.btn:hover,
.btn:focus {
	background-color: #e74246;
}

.btn:active {
	color: rgba(255,255,255,0.3);
	
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1);
}

img {
  max-width: 100%;
  height: auto;
}

.invisible:not(:focus):not(:active),
input[type="checkbox"].invisible,
input[type="radio"].invisible,
.invisible:not(:focus):active {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/***********************************Футер***********************************/

.main-header {
	margin: 0;
	
	background-color: #eee;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	
	width: 1200px;
	min-height: 132px; /*	УБРАТЬ **********/
	box-sizing: border-box;

	margin: 0 auto;
	padding: 0 20px;
	
	line-height: 30px;	
}

.main-header-logo {
	padding: 49px 0 0;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-nav,
.user-nav {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
	
	margin: 0;
	padding: 48px 0 0;
	
	list-style: none;
}

.site-nav {
	width: 660px;
	box-sizing: border-box;
	padding-right: 60px;
}

.user-nav {
	width: 260px;
}

.site-nav a,
.user-nav a {
	position: relative;
	margin-left: 46px;
	padding-bottom: 10px;
	
	color: #000;
		
	text-transform: uppercase;
}

.site-nav a:hover,
.user-nav a:hover,
.site-nav a:focus,
.user-nav a:focus {
	color: #fb565a;
}

.site-nav a:active,
.user-nav a:not(.cart-link::before):active {
	color: #000;
	opacity: 0.3;
}

.site-nav .current {
	border-bottom: 2px solid #fb565a;
}

.cart-link::before {
	content: "";
	position: absolute;
	
	background-image: url("../img/cart.svg");
	top: 2px;
	left: -40px;
	
	width: 15px;
	height: 15px;
}
/********************************Слайдер - Преимущества************************/
.main-wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.slider {
	background-color: #eee;
	
	height: 413px; /* временно */
}

.slider-list {
	list-style: none;
}

.slider-list h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000;
}

/****************************************Наши услуги************************/
.services {
	padding: 80px 0 0;
	margin-bottom: 38px;
}

.service-list {
	display: flex;
	justify-content: flex-start;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	border-bottom: 2px solid #eeeeee;
}

.sevice-item {
	display: flex;
	flex-direction: column;
	
	min-height: 428px;
	width: 300px;
	box-sizing: border-box;
	
	margin-right: 100px;
}

.sevice-item:nth-child(3n) {
	margin-right: 0;
}

.service-list h3 {
	margin: 0;
	margin-top: 26px;
	margin-bottom: 15px;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}
.service-list img {
	order: -1;
}
.service-list p {
	margin: 0;
	padding-right: 50px;
	padding-bottom: 32px;
}

.service-btn {
	margin: auto auto 82px 0;
	
	padding: 16px 40px;
}

.sevice-item:first-of-type .service-btn{
	background-color: #fb565a;
}

.sevice-item:first-of-type .service-btn:hover,
.sevice-item:first-of-type .service-btn:focus {
	background-color: #e74246;
}

.sevice-item:first-of-type .service-btn:active {
	background-color: #d7373b;
}

.sevice-item:nth-of-type(2) .service-btn{
	background-color: #00ca74;
}

.sevice-item:nth-of-type(2) .service-btn:hover,
.sevice-item:nth-of-type(2) .service-btn:focus {
	background-color: #00bc6c;
}

.sevice-item:nth-of-type(2) .service-btn:active {
	background-color: #00aa62;
}

.sevice-item:last-of-type .service-btn{
	background-color: #efc84a;
}

.sevice-item:last-of-type .service-btn:hover,
.sevice-item:last-of-type .service-btn:focus {
	background-color: #eab534;
}

.sevice-item:last-of-type .service-btn:active {
	background-color: #e5a722;
}

/******************************Коротко о дизайн студии Нёрдс************************/
.studio-about {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	box-sizing: border-box;
	padding: 0;
}

.studio-about p {
	margin: 0;
}

.column-left {
	width: 760px;
	
	box-sizing: border-box;
	margin: 0;
	padding-right: 80px;
}

.tagline {
	padding: 35px 0 33px;
	
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000;
}

.studio-about h3 {
	margin: 0;
	padding: 38px 0 25px;
	
	font: inherit;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
}

.order-list,
.number-list {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
	
	list-style: none;
}

.order-list li {
	position: relative;
	
	padding-left: 36px;
	padding-bottom: 24px;
}

.order-list li::before {
	content: "";
	position: absolute;
	top: 25%;
	left: 0;
	transform: translateY(-50%);
	
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.column-right {
	width: 360px;
	
	margin: 0;
}

.column-right .table-title {
	padding: 30px 16px 25px;
}


.table td {
	width: 33%;
	padding-bottom: 18px;
	
	line-height: 18px;
}

.percent-row td {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000;
}

/******************************Наши клиенты**********************************/

.client-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
	
	list-style: none;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.client-item {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 260px;
	height: 180px;
	
	text-align: center;
}

.client-item:hover,
.client-item:focus { 
	opacity: 0.2;
}

.client-item:active { 
	opacity: 0.1;
}
/******************************Каталог**********************************/
.inner-page .container {
	line-height: 18px;
}

.inner-page h1 {
	margin: 0;
	padding: 60px 20px 110px;
	
	font-size: 55px;
	line-height: 55px;
	color: #000;
	font-weight: 500;
	text-align: center;
	
	background-color: #eeeeee;
}

.inner-page .main-wrapper {
	display: flex;
	flex-wrap: wrap;
	
	padding-top: 55px;
}

/******************************Каталог-Фильтры**********************************/

.filter {
	display: flex;
	flex-direction: column;
	
	width: 300px;
	padding-right: 40px;
	box-sizing: border-box;
}

.filter-item {
	margin: 0;
	margin-bottom: 45px;
	padding: 0;

	border: none;
}

.filter-item:first-child {
	margin-bottom: 55px;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}
/******************************Стоимость**********************************/

.range-filter {
	margin-top: 48px;
}

.range-controls {
	position: relative;
	
	height: 80px;
	box-sizing: border-box;
	
	margin-bottom: 15px;
	padding: 39px 20px;
	
	background-color: #eee;
	border-radius: 5px;
}

.scale {
	height: 2px;
	
	background-color: #d7dcde;
}

.bar {
	width: 70%;
	height: 2px;
	
	background-color: #00ca74;
}

.tongle {
	position: absolute;
	
	top: 50%;
	
	transform: translateY(-50%);
	
	width: 4px;
	height: 4px;
	padding: 0;

	background-color: #ababab;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.tongle-min {
	left: 18px;
}

.tongle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	
	width: 50%;
	
	
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	
	vertical-align: top;
}

.price-controls input {
	width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;
	
	background-color: #eee;
	border: none;
}

.max-price {
	text-align: right;
}

/******************************Сетка+Особенности**********************************/

.filter-list {
	margin: 0;
	margin-top: 16px;
	padding: 0;
	
	list-style: none;
	line-height: 20px;
}

.filter-option {
	position: relative;
	
	padding-left: 20px;
	margin-bottom: 20px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

input[type="radio"],
input[type="checkbox"] {
	opacity: 0;
}

input[type="radio"]+label::before {
	content: "";

	position: absolute;
	width: 25px;
	height: 25px;

	top: 50%;
	left: 0;
	transform: translateY(-50%);
	
	background-repeat: no-repeat;
	opacity: 0.4;
}

input[type="checkbox"]+label::before {
	content: "";

	position: absolute;
	width: 25px;
	height: 25px;

	top: 50%;
	left: 0;
	transform: translateY(-50%);
	
	background-repeat: no-repeat;
	opacity: 0.4;
}

input[type="radio"]:checked+label::before {
	background-image: url("../img/radio-on.svg");
}

input[type="checkbox"]:checked+label::before {
	background-image: url("../img/checkbox-on.svg");
}

input[type="radio"]:not(:checked)+label::before {
	background-image: url("../img/radio-off.svg");
}

input[type="checkbox"]:not(:checked)+label::before {
	background-image: url("../img/checkbox-off.svg");
}

input[type="radio"]:not(:disabled):hover+label::before,
input[type="radio"]:not(:disabled):focus+label::before,
input[type="checkbox"]:not(:disabled):hover+label::before,
input[type="checkbox"]:not(:disabled):focus+label::before {
	opacity: 1;
}

input[type="radio"]:not(:disabled):hover+label,
input[type="radio"]:not(:disabled):hover+label,
input[type="checkbox"]:not(:disabled):hover+label,
input[type="checkbox"]:not(:disabled):hover+label {
	color: #000;
	cursor: pointer;

}

input[type="radio"]:disabled+label,
input[type="checkbox"]:disabled+label {
	opacity: 0.3;
}

/******************************Кнопка**********************************/

.filter-btn {
	padding: 16px 0;
	margin-top: 5px;
	
	color: #000;
	
	background-color: #eee;
	border: none;
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: #dfdfdf;
}

.filter-btn:active {
	color: rgba(0,0,0,0.3);
	
	background-color: #d5d5d5;
}
/******************************Каталог-Сортировка********************************/
.sorting {
	display: flex;
	
	width: 800px;
	box-sizing: border-box;
}

.sorting h2 {
	font-size: 18px;
	line-height: 18px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}

.sorting-list,
.sorting-control {
	display: flex;
	list-style: none;
}

.sorting-item a {
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	opacity: 0.3;
}

.sorting-item a:hover,
.sorting-item a:focus {
	opacity: 0.6;
}

.sorting-item a:active {
	opacity: 1;
}

/******************************Каталог-Каталог********************************/
.catalog {
	width: 800px;
	margin-left: auto;
}

.catalog-list {
	list-style: none;
}

.pagination-list {
	list-style: none;
}

.pagination-list .btn {
	color: #000;
	
	background-color: #eee;
}

.pagination-list .btn:hover,
.pagination-list .btn:focus {
	background-color: #dfdfdf;
}

.pagination-list .btn:active {
	color: rgba(0,0,0,0.3);
	
	background-color: #d5d5d5;
}

/******************************Карта**********************************/

.map {
	position: relative;
	
	padding: 53px 0;
	
	background-color: #eee;
	background-image: url("../img/map.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.map::after {
	content: "";
	position: absolute;
	
	background-image: url("../img/map-marker.png");
	background-repeat: no-repeat;
	
	top: 90px;
	right: 430px;
	
	width: 367px;
	height: 190px;
		
}

.address-box {
	background-color: #fff;
	width: 320px;
	min-height: 300px;
	box-sizing: border-box;
	
	padding: 50px;
	
	line-height: 18px;
}

.address-box h3 {
	margin: 0;
	margin-bottom: 22px;
	
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.address-box span {
	display: inline-block;
	padding-right: 5px;
	margin-bottom: 18px;
	vertical-align: top;
}

.address-box span:last-of-type {
	margin-bottom: 38px;
}

.modal-btn {
	padding: 16px 45px;
	white-space: nowrap;
}
/******************************Футер**********************************/
.main-footer {
	display: flex;
	justify-content: space-between;
	
	width: 1200px;
	box-sizing: border-box;
	
	margin: 0 auto;
	padding: 70px 20px;
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	
	width: 360px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	list-style: none;
	text-align: center;
}

.social-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 78px;
	height: 78px;
	
	margin-right: 13px;
	margin-bottom: 13px;
	
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-btn:hover,
.social-btn:focus {
	background-color: #e74246;
}

.social-btn:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1);
}

.social-btn:active svg path {
	opacity: 0.3;
}

.footer-promo {
	width: 760px;
}

.footer-promo p {
	margin: 0;
	line-height: 22px;
}

.footer-promo .bold-text {
	margin-bottom: 10px;
	color: #000;
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
}

